[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
selenium-testing-library = "*"
xlrd = "*"
sklearn = "*"
pandas = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.10"
